[project]
name = "nlp"
version = "0"
requires-python = ">=3.12,<3.13"
dependencies = []

[tool.ruff]
indent-width = 2

[tool.basedpyright]
reportMissingImports = false
reportUnknownVariableType = false
